@font-face {
  font-family: 'Actay';
  src: url("./fonts/Actay-Regular.otf"); }
@font-face {
  font-family: 'Actay Wide';
  src: url("./fonts/ActayWide-Bold.otf"); }
@font-face {
  font-family: 'Actay-Thin';
  src: url("./fonts/ActayCondensed-Thin.otf"); }
* {
  padding: 0;
  margin: 0; }

body {
  background-image: url("./img/2d25763f1aff686e7b2721d0055ac950.jpg");
  background-repeat: no-repeat;
  background-clip: border-box;
  background-size: cover;
  background-origin: border-box;
  font-family: 'Actay';
  color: white;
  width: 100vw;
  height: 100vh; }

header {
  max-width: 100%;
  padding: 5%;
  display: grid;
  background-color: none;
  grid-template-columns: 20% 60% 20%;
  color: white;
  position: static;
  grid-template-rows: none;
  height: 10%; }

.smallheader {
  max-width: 100%;
  padding: 5%;
  display: flex;
  background-color: none;
  color: white;
  position: static;
  grid-template-columns: none;
  grid-template-rows: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10%; }

.smallheader > svg:hover {
  cursor: pointer; }

.whiteboard {
  max-width: 100%;
  padding: 5%;
  display: grid;
  background-color: white;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  width: 100%;
  position: fixed;
  color: black;
  top: 0;
  height: auto;
  z-index: 1000000;
  padding: 5%; }

.whiteboard > :not(#title) {
  text-align: center; }

.lm {
  height: 2em;
  margin-top: 2%; }

.lm:last-of-type {
  margin-bottom: 5%; }

#title {
  width: 10%;
  display: flex;
  font-size: 1em;
  font-family: 'Actay';
  flex-direction: row;
  justify-content: space-between; }

#title > span:first-of-type {
  font-size: 2em;
  font-family: 'Actay Wide'; }

.close {
  margin-right: 5%;
  cursor: pointer; }

#loren_ipsum {
  display: flex;
  justify-content: flex-start;
  font-size: 2em;
  font-family: 'Actay-Thin';
  padding-top: 1.7%; }

#loren_ipsum > span {
  margin-right: 1%;
  padding-left: 1%; }

#loren_ipsum_end {
  cursor: pointer;
  text-align: center; }

#loren_ipsum_end > span {
  font-size: 1.5em;
  font-weight: 400;
  border-bottom: 1px solid white; }

main {
  width: 100vw; }

main > div:first-of-type {
  font-family: 'Actay Wide';
  font-weight: 700;
  width: 100%;
  text-align: center;
  font-size: 7em; }

#container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 2fr 2fr 2fr 2fr;
  width: 90%;
  margin: 0 0 0 15%; }

#container_mobile {
  display: block;
  grid-template-columns: none;
  grid-template-rows: none;
  width: 90%;
  margin: 10% 0 0 15%; }

.number {
  display: flex;
  justify-content: space-between;
  border-radius: 5%;
  border: 3px solid white;
  color: #F6FFD2;
  background-color: gray;
  text-align: center;
  width: 90%;
  height: 30%;
  border-radius: 3em 0 3em 0;
  padding: 3% 0 4% 0;
  font-size: 1em;
  box-shadow: 1px 1px 1px 1px white;
  position: relative;
  z-index: 1; }

.number_mobile {
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 5%;
  border: 3px solid white;
  color: #F6FFD2;
  background-color: rgba(128, 128, 128, 0.5);
  text-align: center;
  width: 80%;
  height: auto;
  border-radius: 3em 0 3em 0;
  padding: 3% 0 10% 0;
  font-size: 3em;
  box-shadow: 1px 1px 1px 1px white;
  position: relative;
  z-index: 1; }

#el_1, #el_6 {
  position: relative;
  bottom: 0;
  right: 0;
  justify-self: none;
  align-self: flex-end; }

#el_5 {
  position: relative;
  bottom: 0;
  right: 66%;
  justify-self: none;
  align-self: flex-end; }

#el_2 {
  position: relative;
  bottom: 25%;
  right: 0;
  justify-self: end;
  align-self: none; }

#el_3 {
  position: relative;
  bottom: 85%;
  right: 0;
  justify-self: none;
  align-self: none; }

.number > span:first-of-type {
  background-color: #5E7600;
  border-radius: 100%;
  text-align: center;
  font-size: 2.5em;
  width: 25%;
  height: 80%;
  display: inline-block;
  border: 1px solid white;
  margin: 2% 3% 0 5%;
  padding: 2% 0 0 0; }

.number_mobile > span:first-of-type {
  background-color: #5E7600;
  border-radius: 100%;
  text-align: center;
  font-size: 2.5em;
  width: 25%;
  height: 70%;
  display: inline-block;
  border: 1px solid white;
  margin: 9% 3% 0 5%;
  padding: 2% 1% 0 0; }

.number > span:nth-of-type(2) {
  margin-top: 4%;
  text-align: left;
  line-height: 150%;
  display: inline-block; }

.number_mobile > span:nth-of-type(2) {
  margin-top: 8%;
  text-align: center;
  line-height: 150%;
  display: inline-block;
  font-size: 0.6em;
  font-weight: 200; }

#to_4_5 {
  position: relative;
  left: -50%;
  top: 15%;
  justify-self: end;
  align-self: flex-end;
  transform: rotate(-5deg); }

#to_5_6 {
  position: relative;
  left: -28%;
  top: 8%;
  justify-self: start;
  align-self: flex-start;
  transform: rotate(-14deg); }

#to_3_4 {
  position: relative;
  left: -5%;
  top: -55%;
  justify-self: end;
  align-self: flex-start;
  transform: none; }

#to_2_3 {
  position: relative;
  left: 5%;
  top: -115%;
  justify-self: end;
  align-self: flex-end;
  transform: none; }

#buttons {
  margin-top: 10%;
  width: 80%;
  font-size: 2em; }

#buttons > span {
  display: inline-block; }

.previous {
  text-align: left;
  width: 50%; }

.next {
  text-align: right;
  width: 50%; }

/*# sourceMappingURL=style.css.map */
